.container {
    padding: 5px;
}

.box {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.break-word {
    word-wrap: break-word;
}

.pointer {
    cursor: pointer;
}
